form {
    color: black;
}

.input-group {
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    margin-right: 20px;
    width: 100%;
}

.input-table {
    display: flex;
    margin:0 auto;
}

.input-group label {
    text-align: left;
    display: block;
}

.input-box {
    background-color: #DDEEFF;
    font-size: 20px;
    width: 100%;
}

.input-box.empty {
  border-color: rgb(204, 86, 86);
}

.input-box.disabled {
  background-color: #e7eaef;
  font-size: 20px;
  width: 100%;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #00418E;
    border-radius: 5px;
    border-style: solid;
  }

  input[type=date] {
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #00418E;
    border-radius: 5px;
    border-style: solid;
  }

  select {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #00418E;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    background-color: #DDEEFF;
    
  }

  select option {
    background: #DDEEFF;
  }

  .error-messages {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .error-messages ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .error-messages ul li {
    margin: 5px 0;
  }

  .button {
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #DDEEFF;
    cursor: pointer;
    border: none;
    /* border-radius: 5px; */
    /* box-sizing: border-box; */
  }

  .button:hover{
    background-color: #00418E;
    color: #fff;
  }
